@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

*, :root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e2e8f0;


  font-family: "Kode Mono", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antiaLiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body{
  background-color: #1E1E22;
}

header{
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}
header h1 {
  font-size: 30px;
  color: #f1f5f9;
}

#quiz {
  counter-reset: quiz-item;

}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #334155;
  border-radius: 6px;

  overflow: hidden;
}
.quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  gap:12px;
  background-color: #334155;
}
.quiz-item h3::before{
  counter-increment: quiz-item;
  content: counter(quiz-item);
  background-color: #8234E9;
  width: 28px;
  height: 28px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

 .quiz-item dl {
   padding: 20px 24px;
   display: grid;
   gap:8px;
 }

 .quiz-item dl dt{
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0;
   display: flex;
   align-items: center;
   gap: 10px;
   color: #e2e8f0;


 }
 input {
   all: unset;
   border: 1px solid #94a3b8;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
 }
 input:checked{
   border: 1px solid #8234E9;
 }
 input:checked::before {
   content: "";
   width: 10px;
   height: 10px;
   background-color: #8234E9;
   border-radius: 50%;
 }

main {
  margin: auto;
  max-width: 640px;
  padding: 20px;
  padding-bottom: 75px;
}

#acertos {
  text-align: center;
  background-color: #8234E9;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px;
 }
 